*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(63, 60, 60)
}
.box-container{
    background-color:rgba(26, 24, 24, 0.918);
    top: 50%;
    left: 50%;
    width: 90%;
    position: absolute;
    transform: translate(-50%,-50%);
    text-align: center;
    border-radius: 10px;
    min-height: 607.6px;
    overflow: auto;


}
header{
    color: #fff;
    font-family: sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
    margin-top: 20px;
}
header p{
    margin-top: 20px;
    letter-spacing: 1px;
}
header hr{
    margin-top: 18px;
    border:2px solid  rgb(63, 60, 60)
}
.input-container{
    margin-top: 30px;
   
}
.input-box input{
    width: 50%;
    height: 40px;
    text-align: center;
    font-size: 15px;
    outline: none;
    
    border: 1px solid green;
    background-color:rgba(41, 35, 54, 0);
    color: #fff;
    border-radius: 10px;
   
}
.input-box button{
    width: 20%;
    height: 38px;
    margin-left: 20px;
    border: none;
    outline: none;
    border-radius: 7px;
    background-color: rgb(7, 69, 7);
    color: #fff;
    font-size: 16px;
}
.input-box button:hover{
    background-color: rgb(14, 93, 14);
    font-size:18px;
}
.radio-btn{
    display: flex;
    justify-content: center;
    column-gap: 200px;
    margin-top: 30px;
    color: rgb(2, 86, 2);
    font-size: 18px;
    accent-color: rgb(2,86,2);
    border: none;
    outline: none;
}
.tw-container{
    display: flex; 
    margin-top: 30px; 
    margin-bottom: 10px;
    height: 350px;
    
    justify-content: space-evenly;
}
.container{
    width: 35%;
    color: #333;
    background-color:#bcbcbce7;
    overflow: auto;
    border-radius: 6px; 
}
.container h3,hr{
    margin-top: 7px;
}
.task{
    text-align: left;
    margin: 7px 5px 0 5px;
    padding: 10px 0;
    background-color:#bcbcbce7;
    color: rgb(39, 32, 32);
    font-size: 15px;
    border:2px solid rgba(26, 24, 24, 0.918);;
    border-radius: 5px;
    display: flex; 
    position: relative;
 
}
.task p{
    max-width: 80%;
}
.annoying-icons{
    position: absolute;
    right: 0;
    margin-right: 10px;
}
.task p{
    margin-left: 10px;
   
}
.logout{
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px 20px;
    border: 1px solid rgb(33, 167, 212);
    border-radius:5px;
    text-align: center;
   
    height:30px;
}
.logout a{
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    padding: 30px;
    color: #08c6e7;
    text-align: center;
}
.logout:hover{
    background-color:#043841;
    transition: 1s;
    
}

@media(max-width:700px){
    .radio-btn{
        display: flex;
        column-gap: 100px;
    }
    .tw-container{
        display: block;
        height: 100%;
    }
    .task{
        margin-bottom: 10px;
    }
  
    .container{
        width: 98%;
        margin-top: 20px;
        max-height: 485px;
        overflow: auto;
        
        margin-left:5px;
    }
     .logout a{
        text-decoration: none;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 10px;
        padding: 10px;
        color: #08c6e7;
        text-align: center;
    }

}