{%load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'css/home.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
    <title>glue</title>
</head>
<body>
  <div class="box-container" style="min-height: 40%;width: 40%;">
        <header>
            <h3>want to update the list ?</h3>
            
        </header>
        
        <hr>
        
        <div class="input-container">
           <form method="POST">
             {%csrf_token%}
               <div class="input-box">
                
                 <input type="text" placeholder="write your task here" name="input-list" style="border:2px solid yellow" value="{{update_todo.todo_list}}">
                 <button style="background-color: #e5c706;">Update</button>
               </div>
           </form>
        </div>
        
        
    </div>
</body>
</html>
